html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	--hue: 47;
}

h1, h2, h3, h4, h5, h6, footer {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
	flex: 0 1 auto;
}

h1 {
	font-size: 5em;
}

h1, h3:last-of-type, footer, .header {
	background-color: hsl(var(--hue), 100%, 50%);
}

h2 {
	font-size: 2.5em;
	background-color: hsl(var(--hue), 100%, 57%);
}

h3 {
	font-size: 2em;
	background-color: hsl(var(--hue), 100%, 63%);
}

.group, .group h4 {
	background-color: hsl(var(--hue), 100%, 67%);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	margin: 0.5em 1em;
	transition: box-shadow 0.3s, padding 0.3s;
}

h4:hover {
	cursor: pointer;
	padding: 1.1em;
	box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
	position: relative;
	z-index: 999;
}

.description {
	font-size: 0.9em;
	font-family: "Roboto Slab", serif;
	display: inline;
	color: hsl(var(--hue), 100%, 10%);
	padding-left: 0.2em;
}

footer {
	padding: 0;
	color: white;
	font-size: 1.5em;
	flex: 1 1 auto;
	display: flex;
}

a {
	text-decoration: none;
	color: gray;
	font-family: "Roboto Slab", serif;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

a.u, a.u:hover {
	text-decoration: none;
	color: black;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#hue {
	outline: none;
	-webkit-appearance: none;
	flex: 1;
	background-color: rgba(0, 0, 0, 0);
	align-self: center;
	padding: 2em;
}

#hue::-webkit-slider-runnable-track {
	height: 1em;
	background: black;
	border-radius: 1em;
}

#hue::-moz-focus-outer {
	border: 0;
}

#hue::-moz-range-track {
	height: 1em;
	background: black;
	border-radius: 1em;
}

#hue::-ms-track {
	height: 1em;
	background: transparent;
  border-color: transparent;
  color: transparent;
}

#hue::-ms-fill-upper, #hue::-ms-fill-lower {
	background-color: black;
	border-radius: 1em;
}

#hue::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 3em;
	width: 3em;
	box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
	position: relative;
	bottom: 1em;
	border-radius: 100%;
	background-color: hsl(var(--hue), 100%, 50%);
	cursor: pointer;
}

#hue::-moz-range-thumb {
	border: none;
	height: 3em;
	width: 3em;
	box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
	position: relative;
	bottom: 1em;
	border-radius: 100%;
	background-color: hsl(var(--hue), 100%, 50%);
	cursor: pointer;
}

#hue::-ms-thumb {
	border: none;
	height: 3em;
	width: 3em;
	box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .2);
	position: relative;
	bottom: 1em;
	border-radius: 100%;
	background-color: hsl(var(--hue), 100%, 50%);
	cursor: pointer;
}
